#about
 padding-bottom: 125px
 text-align: center
 background-color: #fefef2
 
 
 h2
  margin-top: 0
  padding-top: 50px
  font:
   size: 28px
   weight: 700
  color: rgba(0,0,0,1)
  
 #portrait
  background: url("../img/pics/Web_Portrait.png")
  +size(200px)
  margin: 0 auto
  
 .about
  font:
   size: 18px
   weight: 700
  color: rgba(0,0,0,1)
  max-width: 800px
  margin: 32px auto
  text-align: justify