<div id="about">

 <h2>About Me</h2>
  <div id="portrait"></div>
  <p class = "about"> &nbsp;&nbsp;&nbsp;&nbsp; I've recently graduated with my mechanical engineering 
  degree from Florida Institute of Technology. Right now, I'm looking for work related to my field and interest. 
  Art and engineering are two words that define them. 
  No, I'm not your next Leonardo, but I strive to learn and accomplish challenges given upon 
  myself whether that be designing a conveyor belt system or rendering photo-realistic objects. </p>
  
 <div class="skill_outter">
 <div class="skill_header">Skill Set</div>
 
  <div class="skill_inner">
   <div class="skill_cat">CAD</div>
   <div class="skill point-8">
   
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
   
   </div>
  </div>	
   
  <div class="skill_inner"> 
   <div class="skill_cat">Coding</div>
   <div class="skill point-6">
   
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
   
   </div>
  </div>
  
  <div class="skill_inner">
   <div class="skill_cat">Analysis</div>
   <div class="skill point-7">
    
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
   
   </div>
  </div>

  <div class="skill_inner">
   <div class="skill_cat">Communication</div>
   <div class="skill point-7">
   
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
   
   </div>
  </div>

  <div class="skill_inner">
   <div class="skill_cat">Character</div>
   <div class="skill point-8">
   
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
   
   </div>
  </div>

  <div class="skill_inner">
   <div class="skill_cat">Learning</div>
   <div class="skill point-8">
   
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
   
   </div>
  </div>

  <div class="skill_inner">
   <div class="skill_cat">Hands-on</div>
   <div class="skill point-7">
   
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
   
   </div>
  </div>

  <div class="skill_inner">
   <div class="skill_cat">Organization</div>
   <div class="skill point-7">
   
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
   
   </div>
  </div>
  
 </div>  
</div>